<section data-ng-controller="ArticlesController" data-ng-init="findOne()">

	<form class="form-horizontal" data-ng-submit="update()" novalidate>
		<fieldset class="col-lg-offset-1">
			<legend>Edit Articles</legend>
			<div class="form-group">
				<div class="col-lg-3">
					<label class="col-lg-1 control-label" for="title">Title</label>
					<input type="text" class="form-control" data-ng-model="article.title" id="title" placeholder="Title" required/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-3">
					<label class="col-lg-1 control-label" for="content">Content</label> 
					<textarea class="form-control" data-ng-model="article.content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
				</div>
			</div>
			<div class="col-lg-3">
				<input type="submit" class="btn btn-default" value="Update">
			</div>
			<div data-ng-show="error">
				<strong data-ng-bind="error"></strong>
			</div>
		</fieldset>
	</form>

</section>